body {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #efefef;
}

header {
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
}

.logo {
  width: 100%;
  height: auto;
  animation: fadeIn 3s;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 20px;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
}

p {
  padding: 0 30px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

.nav_links {
  margin-bottom: 20px;
  display: flex;
}

.nav_item a{
  padding: 10px;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav li {
  text-align: center;
  position: absolute;
}

.pricing{
  min-height: 475px;
  display: flex;
}

.card {
  display: flex;
  width: 300px;
  margin: 12px;
  background: #fff;
  overflow: hidden;
  width: 100%;
}

.card > ul{
  list-style: none;
  padding-left: 5px;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 5%;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}

.card h3 {
  font-size: 4em;
  color: white;
  text-align: center;
}

.gallery {
  padding-bottom: 20px;
  display: flex;
}

.image1, .image2, .image3, .image4 {
  display: flex;
  width: 100%;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

@media all and (min-width: 700px) {
  .logo {
    width: 400px;
    height: auto;
    float: left;
  }

  .nav {
    float: right;
  }

  .nav li {
    /* */
  }

  .card {
    width: 300px;
  }

  .image1, .image2, .image3, .image4 {
    width: 300px;
  }

}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (prefers-reduced-motion: reduce) {
  animation: none; 
}
